<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NORTHWND_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost\SQLEXPRESS;user id=active;password=Qwert12345@;initial catalog=NORTHWND;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="c:\Active\DLL\DevExpress\17.1.8"/>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Charts.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Charts.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.CodeParser.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.CodeParser.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Data.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.DataAccess.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.DataAccess.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.DataAccess.v17.1.UI" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.DataAccess.v17.1.UI.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Diagram.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Diagram.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Office.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Pdf.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Pdf.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.PivotGrid.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.PivotGrid.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Printing.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.RichEdit.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v17.1.Export" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.RichEdit.v17.1.Export.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Sparkline.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Sparkline.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Utils.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v17.1.UI" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Utils.v17.1.UI.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.Xpo.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraBars.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraCharts.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraCharts.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraCharts.v17.1.Extensions" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraCharts.v17.1.Extensions.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraCharts.v17.1.Wizard" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraCharts.v17.1.Wizard.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="replace" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\replace.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraDiagram.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraDiagram.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraEditors.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGauges.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraGauges.v17.1.Core.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGrid.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraGrid.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraLayout.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraNavBar.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraNavBar.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPivotGrid.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraPivotGrid.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraPrinting.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraReports.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraReports.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraReports.v17.1.Extensions" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraReports.v17.1.Extensions.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraRichEdit.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraRichEdit.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraTreeList.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraTreeList.v17.1.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraVerticalGrid.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <codeBase version="17.1.8.0" href="file:///..\..\..\DevExpress.XtraVerticalGrid.v17.1.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>